body, html {
  width: 100%;
  height: 100%; }

.confederate_state_fill {
  fill: #328; }

.confederate_state_color {
  color: #328; }

.state_fill {
  fill: #4a9; }

.state_color {
  color: #4a9; }

.territory_fill {
  fill: #8ce; }

.territory_color {
  color: #8ce; }

.district_of_columbia_fill {
  fill: #825; }

.district_of_columbia_color {
  color: #825; }

.other_fill {
  fill: #dc7; }

.other_color {
  color: #dc7; }

.unorganized_territory_fill {
  fill: #995; }

.unorganized_territory_color {
  color: #995; }

#map {
  width: 100%;
  height: 100%; }

#mapTooltip {
  position: absolute;
  z-index: 10;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  opacity: 0;
  width: 220px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px; }

#tt_title {
  font-size: 16px; }

#tt_terrtype {
  font-size: 12px;
  font-style: italic; }

#tt_citation {
  font-size: 10px;
  color: #aaa; }

.state {
  stroke: white; }

.highlight_fill {
  fill: #c67; }

#rangeSlider {
  width: 100%;
  margin: 20px 50px; }

#dateDisplay {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #555; }

#titlebar {
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  text-align: center; }
