body, html{
  width: 100%;
  height: 100%;
}
$colors : (
  confederate_state: #328,
  state: #4a9,
  territory: #8ce,
  district_of_columbia: #825,
  other: #dc7,
  unorganized_territory: #995,
);

$ss: "Helvetica","Arial",sans-serif;

@each $colorName, $colorValue in $colors {
  .#{$colorName}_fill { fill: #{$colorValue}; }
  .#{$colorName}_color { color: #{$colorValue}; }
}

#map {
  width: 100%;
  height: 100%;
}

#mapTooltip{
  position: absolute;
  z-index: 10;
  font-family: #{$ss};
  background: #fff;
  opacity: 0;
  width: 220px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
#tt_title {
  font-size: 16px;
}

#tt_terrtype{
   font-size: 12px;
   font-style: italic;
}

#tt_citation{
  font-size: 10px;
  color: #aaa;
}

.state{
  stroke: white;
}

.highlight_fill{
  fill: #c67;
}

#rangeSlider{
  width: 80%;
  margin: 20px 50px;
  height: 20px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;;
    border-radius: 50%;
    background: black;
    margin-top: -13px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#dateDisplay{
  text-align: center;
  font-family: #{$ss};
  font-size: 20px;
  color: #555;
}

#titlebar{
  font-family: #{$ss};
  color: #666;
  text-align: center;
}

button {
  font-size: 15px;
}
