body, html{
  width: 100%;
  height: 100%;
}
$colors : (
  confederate_state: #328,
  state: #4a9,
  territory: #8ce,
  district_of_columbia: #825,
  other: #dc7,
  unorganized_territory: #995,
);

$ss: "Helvetica","Arial",sans-serif;

@each $colorName, $colorValue in $colors {
  .#{$colorName}_fill { fill: #{$colorValue}; }
  .#{$colorName}_color { color: #{$colorValue}; }
}

#map {
  width: 100%;
  height: 100%;
}

#mapTooltip{
  position: absolute;
  z-index: 10;
  font-family: #{$ss};
  background: #fff;
  opacity: 0;
  width: 220px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
#tt_title {
  font-size: 16px;
}

#tt_terrtype{
   font-size: 12px;
   font-style: italic;
}

#tt_citation{
  font-size: 10px;
  color: #aaa;
}

.state{
  stroke: white;
}

.highlight_fill{
  fill: #c67;
}

.noUi-target{
  margin: 20px;
}

.noUi-handle{
  background: #adc;
  border: 1px solid #9a9;
  box-shadow: none;
  height: 12px;
}
.noUi-horizontal .noUi-handle{
  height: 20px;
}
.noUi-handle:before, .noUi-handle:after{
  height: 8px;
  top: 5px;
}
.noUi-horizontal {
    height: 10px;
}
#dateDisplay{
  text-align: center;
  font-family: #{$ss};
  font-size: 20px;
  color: #555;
}

#titlebar{
  font-family: #{$ss};
  color: #666;
  text-align: center;
}
